.postInfo {
  margin-top: 1.667rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-200);

    & + span {
      margin-left: 2rem;
    }
  }
}

.previewButton {
  position: fixed;
  top: 40px;
  right: 50px;
  background: var(--highlight);
  padding: 11px 25px;
  border-radius: 40px;
  font-weight: 600;

  display: flex;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9)
  }

  svg {
    margin-right: 20px;
  }
}
